<!DOCTYPE html>
<html>
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Site Properities -->
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/libs/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <!-- Google Analytics -->
    <% include common/analytics %>
    
    <!-- Mobile Sidebar -->
    <% include common/sidebar %>
    
	<!-- Page Contents -->
	<div class="pusher">
		<% include common/nav %>

		<div class="ui vertical inverted stripe segment title">
			<div class="ui middle aligned stackable grid container">
				<div class="row">
					<div class="column">
						<h1><%= header %></h1>
					</div>
				</div>
			</div>
		</div>

		<div class="ui vertical stripe segment">
			<div class="ui stackable grid container">
				<% experience.forEach(function(job, i) { %>
					<div class="row">
						<div class="ten wide column">
							<h1 class="ui header">
								<a href="http://www.ibm.com/ca-en/"><%= job.company %></a>
								<div class="sub header"><%= job.subtitle %></div>
							</h1>
							<p><%= job.description %></p>
							<div class="ui red segments">
								<% job.projects.forEach(function(project, i) { %>
									<div class="ui segment">
										<h2><%= project.header %></h2>
										<p><%= project.body %></p>
									</div>
								<% }); %>
							</div>
						</div>
						<div class="six wide column">
							<img src="<%= job.logo %>" class="ui image">
						</div>
					</div>
					<div class="row">
						<div class="column">
							<table class="ui celled striped table">
								<thead>
									<tr>
										<th colspan="5">Skills Gained</th>
									</tr>
								</thead>
								<tbody>
									<% for (var j = 0; j < job.skills.length; j++) { %>
										<tr>
											<% job.skills[j].forEach(function(skill, k) { %>
												<td><%= skill %></td>
											<% }); %>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
					<% if (i < experience.length - 1) { %>
						<div class="ui divider"></div>
					<% } %>
				<% }); %>
			</div>
		</div>

		<% include common/footer %>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/libs/semantic/semantic.min.js"></script>
	<script src="/js/scripts.js"></script>

</body>

</html>
