<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
	<a href="/" class="<%= typeof index === 'undefined' ? '' : index %> item">Home</a>
	<a href="/about" class="<%= typeof about === 'undefined' ? '' : about %> item">About</a>
	<a href="/work" class="<%= typeof work === 'undefined' ? '' : work %> item">Work Experience</a>
	<a href="/academics" class="<%= typeof academics === 'undefined' ? '' : academics %> item">Academics</a>
	<a href="/extracurriculars" class="<%= typeof extracurriculars === 'undefined' ? '' : extracurriculars %> item">Extracurriculars</a>
	<a href="/contact" class="<%= typeof contact === 'undefined' ? '' : contact %> item">Contact</a>
</div>